<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="#{book.add}"></title>
</head>
<body>
	<form th:action="@{/add-book}" method="POST" th:object="${book}">
		<div th:text="#{book.name}"></div>
		<input type="text" name="name_book" />
		<div th:text="#{book.price}"></div>
		<input type="text" name="price_book" />
		<div th:text="#{book.category}"></div>
		<input type="text" name="category_book" />
		<div th:text="#{book.number}"></div>
		<input type="text" name="number_book" />
		<div th:text="#{book.author}"></div>
		<div th:each="author:${authors}">
			<input type="checkbox" th:text="${author.name_author}" name="author" th:value="${author.id_author}"/>
		</div>
		<input type="submit" value="add-book" />
	</form>
</body>
</html>